@model Music.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Album Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p class="btn-group">
    <span class="btn btn-warning" style="border-radius: 6px 0 0 6px">@Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID })</span>  
    <span class="btn btn-success" style="border-radius: 0 6px 6px 0">@Html.ActionLink("Back to List", "Index")</span>
</p>
