@model IEnumerable<Music.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Albums List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td class="btn-group btn-group-sm">
            @Html.ActionLink("Edit", "Edit", new { id = item.AlbumID }, new {@class="btn btn-success", @style="border-radius:6px 0 0 6px" })
            @Html.ActionLink("Details", "Details", new { id = item.AlbumID }, new {@class ="btn btn-warning", @style = "border-radius: 0" })
            @Html.ActionLink("Delete", "Delete", new { id = item.AlbumID }, new {@class="btn btn-danger", @style="border-radius:0 6px 6px 0"}) 
        </td>
    </tr>
}
</table>