@model IEnumerable<Music.Models.Playlist>

@{
    ViewBag.Title = "Playlists";
}

<h2>Playlists</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.PlaylistID })
        </td>
        <td class="btn-group btn-group-sm">
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaylistID }, new { @class = "btn btn-warning", @style = "border-radius:6px 0 0 6px" })
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaylistID }, new { @class = "btn btn-danger", @style = "border-radius:0 6px 6px 0" })
        </td>
    </tr>
}

</table>
